body {
background: #f3f3f3;
background-image: url() !important;
background-size: cover;
backdrop-filter: none;
}

.menu {
display: none;
}

.marq {
display: none;
}

td {
font-size: 17px;
font-family: kurale;
color: #555555;
}

a {
font-size: 17px;
font-family: kurale;
color: rgb(32, 103, 80);
}

a:hover {
font-size: 17px;
font-family: kurale;
}

table {
border: none;
box-shadow: rgb(0 0 0 / 20%) 0px 0px 6px;
-webkit-box-shadow: rgb(0 0 0 / 20%) 0px 0px 6px;
    -moz-box-shadow: rgba(0,0,0,0.2) 0px 0px 6px;
    -khtml-box-shadow: rgba(0,0,0,0.2) 0px 0px 6px;
}

td {
border: none;
background-color: #ffffff;
border: 0.2px solid rgb(234 234 234);
}

.title {
font-weight: normal;
background-color: rgb(23, 86, 63);
border-left: 1px solid rgb(19, 74, 41);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.1)), color-stop(100%,rgba(255,255,255,0)));
padding-left: 10px;
}

.low:hover {
font: normal 11px Verdana;
}

input[type=button], input[type=submit] {
background: linear-gradient(to bottom, rgb(32 103 80), rgb(31 99 77));
}

input[type=button]:hover, input[type=submit]:hover {
background: linear-gradient(to bottom, rgb(31 99 77), rgb(36 85 69));
}

.oldforumicon { background-image: url("//soulty.ru/img/forum/icon_forum.png");  border-radius:10px; width:38px; height:38px;}
.newforumicon {background-image: url("//soulty.ru/img/forum/icon_forum.png"); border-radius:10px; width:38px; height:38px; background-position: -35px;}
.closedforumicon {background-image: url("//soulty.ru/img/forum/icon_forum.png"); border-radius:10px; width:38px; height:38px; background-position: -141px;}

.oldicon {background-image: url("//soulty.ru/img/forum/icon_forum.png"); border-radius:10px; width:38px; height:38px;}
.newicon {background-image: url("//soulty.ru/img/forum/icon_forum.png"); border-radius:10px; width:38px; height:38px; background-position: -35px;}
.closedicon {background:gray; border-radius:10px; width:20px; height:20px;}
.pinnedicon {background-image: url("//soulty.ru/img/forum/icon_forum.png"); border-radius:10px; width:38px; height:38px; background-position: -141px;}
.movedicon {background:#FFFFFF; border-radius:10px; width:20px; height:20px;}

.signature {padding-top: 15px;}
.signature hr {width: 200px; height: 1px; text-align:left; margin-left: 0px; border:none; color: black; background-color: black; clear:both;}

.container {
    display: flex;
    justify-content: center;
	position: absolute;
	height: 200px;
}
#cont {
    background: url() center;
    background-repeat: no-repeat;
    -webkit-perspective: 600px;
    -webkit-perspective-origin: 50% 0%;
    perspective: 600px;
    perspective-origin: 50% 0%;
    width: 660px;
    margin: 0 auto 0;
}


</style>