/* С‚РµР»Рѕ РґРѕРєСѓРјРµРЅС‚Р° */
.error-body {
	padding:0px; margin:0px;background:url('https://soulty.ru/img/bg_index.jpg'); background-repeat: no-repeat; background-attachment: fixed; -moz-background-size: 100%; -webkit-background-size: 100%;
}
.exit-body2 {
	padding:0px; margin:0px;background:url('https://soulty.ru/img/bg_logout.jpg'); background-repeat: no-repeat; background-attachment: fixed; -moz-background-size: 100%; -webkit-background-size: 100%;
}
.who-body {
	padding:0px; margin:0px;background:url('https://soulty.ru/img/bg_chat.jpg'); background-repeat: no-repeat; background-attachment: fixed !important; -moz-background-size: 100%; -webkit-background-size: 100%; -o-background-size: 100%; background-size: cover !important;
}
.gb-body {
	padding:0px; margin:0px;background:url('https://soulty.ru/img/bg_index.jpg'); background-repeat: no-repeat; background-attachment: fixed ; -moz-background-size: 100%; -webkit-background-size: 100%;
}
.index-body {
	padding:0px; margin:0px;background-color:#fff;}
}



.href__hover:hover .image__hover{
display:block;
position: absolute;
width:150px;
z-index: 1;
}
.image__hover{
display:none;
}
.image__hover img{
width:100%;
border-radius: 5px;
border: 2px solid #fff;
}

.button__adm {
	background: white !important; 
	margin-right: 10px;
	transition: background 0.7s ease !important;
	border-radius: 30px !important;
	color: #009688 !important;
	padding: 0 10px 0 10px !important;
	font-family: Verdana;
}

.button__adm:hover {
	background-color: #2fb266 !important;
	color: white !important;
    transition: background 0.7s ease !important;
}
/* С€СЂРёС„С‚С‹ */
   	@font-face {
    font-family: 'CoquetteC';
    src: url('https://soulty.ru/fonts/CoquetteC.ttf')
}
	@font-face {
                font-family: 'Auriol_LT_Italic';
                src: url('https://soulty.ru/fonts/Auriol_LT_Italic.ttf');
            }
	@font-face {
                font-family: 'Adventure';
                src: url('https://soulty.ru/fonts/Adventure.ttf');
            }								
	@font-face {
                font-family: 'Isadora_Cyr';
                src: url('https://soulty.ru/fonts/Isadora_Cyr.ttf');
            }
	@font-face {
    font-family: 'Kurale';
    src: url('https://soulty.ru/fonts/Kurale.ttf');
}
	@font-face {
    font-family: 'Bernhard_CursiveC';
    src: url('https://soulty.ru/fonts/Bernhard_CursiveC.ttf');
}	

	@font-face {
    font-family: 'Miranda_script_Black';
    src: url('https://soulty.ru/fonts/Miranda_script_Black.ttf');
}	
	@font-face {
    font-family: 'ThannhaeuserC';
    src: url('https://soulty.ru/fonts/ThannhaeuserC.ttf');
}
	@font-face {
    font-family: 'Custodia_Deco';
    src: url('https://soulty.ru/fonts/Custodia_Deco.ttf');
}
	@font-face {
    font-family: 'Tamburin_Modern';
    src: url('https://soulty.ru/fonts/Tamburin_Modern.ttf');
}
	@font-face {
    font-family: 'Aelita_Victorian';
    src: url('https://soulty.ru/fonts/Aelita_Victorian.ttf');
}
	@font-face {
    font-family: 'Scandia';
    src: url('https://soulty.ru/fonts/Scandia.ttf');
}
	@font-face {
    font-family: 'Nautilus_script';
    src: url('https://soulty.ru/fonts/Nautilus_script.ttf');
}
	@font-face {
    font-family: 'Lunapark_One';
    src: url("https://soulty.ru/fonts/Lunapark_One.ttf");
}
	@font-face {
    font-family: 'ArkonaC';
    src: url('https://soulty.ru/fonts/ArkonaC.ttf');
}
	@font-face {
    font-family: 'PalmettoC';
    src: url('https://soulty.ru/fonts/PalmettoC.ttf');
}
	@font-face {
    font-family: 'Amaltea_One';
    src: url('https://soulty.ru/fonts/Amaltea_One.ttf');
}
	@font-face {
    font-family: 'Eleonora';
    src: url('https://soulty.ru/fonts/Eleonora.ttf');
}

	@font-face {
    font-family: 'VelesBold';
    src: url('https://soulty.ru/fonts/VelesBold.otf');
}

	
	@font-face {
    font-family: 'VeryBerry';
    src: url('https://soulty.ru/fonts/VeryBerry.ttf');
	}
		@font-face {
    font-family: 'Segoe_Print';
    src: url('https://soulty.ru/fonts/Segoe_Print.otf');
	}
			@font-face {
    font-family: 'ArbatC';
    src: url('https://soulty.ru/fonts/ArbatC.ttf');
	}

					@font-face {
    font-family: 'Foma_flibustier';
    src: url('https://soulty.ru/fonts/Foma_flibustier.ttf');
	}

					@font-face {
    font-family: 'Tildascript';
    src: url('https://soulty.ru/fonts/Tildascriptsnonconnectdemo.otf');
	}
					@font-face {
    font-family: 'BeauRegular';
    src: url('https://soulty.ru/fonts/BeauRegular.ttf');
	}				
	@font-face {
    font-family: 'SuperLiamSans';
    src: url('https://soulty.ru/fonts/SuperLiamSansExtremeRegular.otf');
	}
		@font-face {
    font-family: 'ArmataSaber';
    src: url('https://soulty.ru/fonts/ArmataSaberRegular.otf');
	}
			@font-face {
    font-family: 'ArmataSaberItalic';
    src: url('https://soulty.ru/fonts/ArmataSaberRegularItalic.otf');
	}
			@font-face {
    font-family: 'TabulaPeutingeriana';
    src: url('https://soulty.ru/fonts/TabulaPeutingeriana.ttf');
	}
					@font-face {
    font-family: 'AdigianaUltra';
    src: url('https://soulty.ru/fonts/AdigianaUltra.ttf');
	}
					@font-face {
    font-family: 'AdigianaUltra';
    src: url('https://soulty.ru/fonts/AdigianaUltra.ttf');
	}
		@font-face {
    font-family: 'CormorantInfant-Regular';
    src: url('https://soulty.ru/fonts/CormorantInfant-Regular.ttf');
	}
		@font-face {
    font-family: 'CormorantInfant-Bold';
    src: url('https://soulty.ru/fonts/CormorantInfant-Bold.ttf');
	}
			@font-face {
    font-family: 'CormorantInfant-Italic';
    src: url('https://soulty.ru/fonts/CormorantInfant-Italic.ttf');
	}
		@font-face {
    font-family: 'Monotype Corsiva';
    src: url('https://soulty.ru/fonts/monotypecorsiva.ttf');
	}
			@font-face {
    font-family: 'Lucida Console';
    src: url('https://soulty.ru/fonts/lucidaconsole.ttf');
	}
			@font-face {
    font-family: 'Comic Sans MS';
    src: url('https://soulty.ru/fonts/Comic_Sans.ttf');
	}

					@font-face {
    font-family: 'Palatino Linotype';
    src: url('https://soulty.ru/fonts/Palatino_Linotype.ttf');
	}
						@font-face {
    font-family: 'arnopro';
    src: url('https://soulty.ru/fonts/arnopro-bolditalic.ttf');
	}
							@font-face {
    font-family: 'Blogger Sans';
    src: url('https://soulty.ru/fonts/Blogger_Sans.ttf');
	}
			@font-face {
    font-family: 'LeksaPro';
    src: url('https://soulty.ru/fonts/LeksaPro.ttf');
	}

/* РІС‹СЂР°РІРЅРёРІР°РЅРёРµ */
input, select {vertical-align:middle; margin:0px;}
img {vertical-align: middle; border:0px;}

/* СЃСЃС‹Р»РєРё  */
a,a:active{color:#005DB5; font: bold 12px Verdana; text-decoration: none;}
a:hover{text-decoration: underline;}

/* С‚Р°Р±Р»РёС†С‹ */
table { border:1px #7897BB solid; border-collapse:collapse;}
td {color:#000000; background-color:#f3f3f3; font: 12px Verdana; padding:4px; border:1px #7897BB solid; }

/* РєРЅРѕРїРєРё, С‚РµРєСЃС‚РѕРІС‹Рµ РїРѕР»СЏ Рё СЃРµР»РµРєС‚РѕСЂС‹ */
input, select, textarea {margin-bottom: 4px; padding:3px 6px; border:1px #aaaaaa solid; border-radius:3px;}
.input__reg {border-radius:5px;  border:1px solid #e2e2e2; padding-bottom: 5px;padding-top:5px;padding-left:9px;padding-right: 9px;width: 80%;font-family:kurale;font-size:15px;outline: 0; margin-bottom: 3px;}
.input__mess {border-radius:5px;  border:1px solid #e2e2e2; padding-bottom: 5px;padding-top:5px;padding-left:9px;padding-right: 9px;font-family:kurale;font-size:15px;outline: 0; width:35%; margin-bottom: 8px;}
.input__cmd {border-radius:5px;  border:1px solid #e2e2e2; padding-bottom: 5px;padding-top:5px;padding-left:9px;padding-right: 9px;font-family:kurale;font-size:15px;outline: 0; width:10%; margin-bottom: 8px;}


      @media only screen and (max-width: 960px) {
		.input__mess {
        width:44%;
		  }
		.input__cmd {
        width:20%;
			}
		.dropdown-block {
			 display: none !important;
		}
		.dropdown {
			display: none !important;
		}
		.dropdown-mobile {
			display: inline-block !important;
		}
		  .menu__logo {
		   margin-top: 20px;
		   }
		   .menu {
		   width: 100%;
		   padding-right: 0;
		   }
      }
     
	  
	 

input[type=checkbox] {width:16px; height:16px; border:0px;}
input[type=file] {border:0px;}
input[type=button], input[type=submit] {cursor:pointer; padding:9px 11px; color: white; border-radius:5px; border:0px; background-color:#377BB5; background: linear-gradient(to bottom, #5D9AD0, #2E6DA3);}
input[type=button]:hover, input[type=submit]:hover {background-color:#377BB5; background: linear-gradient(to bottom, #6DAAE0, #3E7DB3);}
input[type=button]::-moz-focus-inner, input[type=submit]::-moz-focus-inner {border:0; padding:0;} /* FF fix padding */

:hover::-webkit-input-placeholder {
  color: transparent
}

:hover::-moz-placeholder {
  color: transparent
}

:hover:-moz-placeholder {
  color: transparent
}

:hover:-ms-input-placeholder {
  color: transparent
}

textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
textarea::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
textarea:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
textarea:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
textarea:hover::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
textarea:hover::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
textarea:hover:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
textarea:hover:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input:hover::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:hover::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:hover:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:hover:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

/* РёРєРѕРЅРєР° РІС‹Р±РѕСЂР° С„Р°Р№Р»Р° РґР»СЏ Р·Р°РіСЂСѓР·РєРё */
.file {vertical-align:middle; display:inline-block; overflow:hidden; width:16px; height:16px; background-image:url(//mpchat.com/blank/img/image.png);}
.file input {cursor:pointer; width:16px; height:16px;	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); -moz-opacity: 0; -khtml-opacity: 0; opacity: 0;}

/* СЃС‚РёР»СЊ Р·Р°РіРѕР»РѕРІРєР° С‚Р°Р±Р»РёС†С‹ .title */
.title   {color:white; background-color:#7897BB; font-weight:bold;}
.title a {color:white;}
.title a:active {color:white;}
.title a:hover {color:white;}
.low {color:gray; font: normal 11px Verdana;} 

/* СЃС‚РёР»СЊ РЅРёРєР»РёСЃС‚Р° РІ С„СЂРµР№РјРµ СѓС‡Р°СЃС‚РЅРёРєРѕРІ РґР»СЏ #id=users */
#users table {border:0px;}
#users td {border:0px; }
#users a { font: bold 15px Verdana;}

/* СЃС‚РёР»СЊ РґР»СЏ РёРіСЂС‹ - РІРёРєС‚РѕСЂРёРЅР° */
#gamediv table {border-collapse:collapse;} 
#gamediv td {padding:2px; font:18px Verdana;text-align:center; width:20px; height:15px; border:1px #7897BB solid;}

/* СЃС‚РёР»СЊ РІС‹РІРѕРґРёРјРѕРіРѕ СЃРјР°Р№Р»Р° */
.sm {cursor:pointer;}

/* STYLESATOR */




/* РіР»Р°РІРЅР°СЏ СЃС‚СЂР°РЅРёС†Р°*/

.menu {	
	color:white; 
	font-weight:bold;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 20px;
	top: 0;
    position: sticky;
    z-index: 1;
}

.menu li {
	color: #555555;
}

.img__logo {
	max-height: 60px;
	margin-left: 20px;
}

nav {
    max-width: 50rem;
	padding: 25px 20px 24px 20px;
	font-family: 'kurale';
    font-size: 18px;
	transition: background 0.5s ease;
}

nav ul {
    list-style: none;
}

.menu__background {
    display: none;    
    flex-direction: column;      
    position: relative;
}  

@media (min-width: 40rem) {    
    .menu__background {   
        display: flex;     
        flex-direction: row;              
    }  
}


.menu__background.activated {
    display: flex;
}
.menu__background a {
	font-family: 'kurale';
  font-size: 18px;
}

.menu__button {    
    padding: 1.3em 1em;
    cursor: pointer;
	text-decoration: none;
    text-align: center;    
    flex: 1 0 auto;
    position: relative;   
}

.menu__button:hover {
    background: #68686840;
	text-decoration: none;
	transition: background 0.5s ease;
}

@media (min-width: 40rem) {    
    .menu__button--arrow {   
        position: relative;        
    }  
}

.block__avtorization {
    display: flex;
	margin-top: 48px; 
	flex-direction: inherit; 
	justify-content: space-between;
}

.block__page {
    display: flex;
    flex-direction: column;
}

.block_content  { 
border:1px solid #ffffff; 
margin-bottom:5px; 
background:white; 
opacity: 0.9; 
border-radius: 5px; 
color: #555555; 
text-align:center; 
padding: 0 30px; 
font-size:14px;
 width:450px; 
 margin-top: 60px;
 box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}

.login-submit, .login-submit:before, .login-submit:after {
  background: #fff;
}


.login p {
  margin: 0 0 20px;
}

.avtorization_title {
	font-family: 'CoquetteC';
	text-align:center;
	color: #929292;
	font-size: 25px;
	font-weight: bold;
}

.logo__btn {
background: linear-gradient(180deg,#8C83F7 0,#655BE2 100%);
color:#fff;
border: none;
border-radius: 5px;
height: 42px;
}

.anim-show {
opacity:0; 
	transition: 0.5s; 
	animation: show 2s 1; 
       animation-fill-mode: forwards;
       animation-delay: 1s; 
}

@keyframes show{
 0%{ opacity:0; }
 100% { opacity:1; }
}

.avtorization__login {
  font-family: 'Comfortaa';
  font-size: 15px;
  font-weight: 300;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
    background: #f3f3f3;
  outline: 0;
  transition: background 0.7s ease;
  	padding: 10px 35px 10px 13px;
    border-radius: 5px;
    width: 100%;
}


.avtorization__login[type=text]:focus, .avtorization__login[type=password]:focus {
  color: #858585;
    outline: rgb(223, 230, 254) solid 2px;
    border: 1px solid #3866ff;
}


.avtorization__content {
	border:1px solid #ffffff; 
	margin-bottom:5px; 
	background:white; 
	z-index: 1;
	border-radius: 5px 50px 5px 50px;
	font-size:14px; 
	width:500px;
	box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}

.login-submit {
  position: absolute;
  top: 18px;
  right: 0;
  width: 48px;
  height: 48px;
  padding: 8px;
  border-radius: 32px;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
}
.login-submit:before, .login-submit:after {
  content: '';
  z-index: 1;
  position: absolute;
}
.login-submit:before {
  top: 28px;
  left: -4px;
  width: 4px;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.06);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.06);
}
.login-submit:after {
  top: -4px;
  bottom: -4px;
  right: -4px;
  width: 36px;
}


.table__index {
	width:24%; 
	font-family: 'kurale'; 
	font-size: 15px; 
	font-weight: 500; 
	padding-left: 10px;
	color:white; 
	background-color:#7897BB;
}

.footer__content {
	margin-top: 50px;
	color: #fff;
	transition: color 0.7s ease;
}

.footer__content a  {
	color: #fff;
	transition: color 0.7s ease;
}

.footer__content a:visited, .footer__content a:hover {
	color: #51c2e4;
}

/* СЂРµРіРёСЃС‚СЂР°С†РёСЏ */

#regform {
	font-family: 'kurale'; 
	font-size: 15px; 
	width:300px;
	background:white;
	padding: 30px;
	border-radius: 0 25px;
	color: #555555;
}

.search__form {
	font-family: 'kurale'; 
	font-size: 15px; 
	width:350px;
	background:white;
	padding: 30px;
	border-radius: 0 25px;
	color: #555555;
}

.title__page {
	font-family: 'kurale';
	font-size: 20px; 
	color: #005db5;
	font-weight: bold;
	margin-bottom: 0px;
	text-align: center;
}


.info-dj {
    position: absolute;
    background: #000;
    color: #fff;
    font-size: 12px;
    font-family: tahoma;
    border-radius: 10px;
    border: 1px solid #9e9e9e;
    z-index: 1;
	margin-top: 6px;
    width: 80px;
    text-align: center;
}

.marq {
	font-family: 'kurale';
	font-size: 20px; 
	color: #005db5;
	background: white;
	width: 100%;
}

#leftdiv {
	background-repeat: no-repeat; -moz-background-size: 100%; -webkit-background-size: 100%;
}


#leftdiv::-webkit-scrollbar {
    width: 9px;
	height: 9px;
    background-color: #eee;
}

#leftdiv::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
	border-radius:20px;
}

#smdiv {
	background: #f3f3f3; 
}

#smdiv::-webkit-scrollbar {
    width: 9px;
	height: 9px;
    background-color: #eee;
}

#smdiv::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
	border-radius:20px;
}

#privatdiv{
background: #f3f3f3; 
}

#privatdiv::-webkit-scrollbar {
    width: 9px;
	height: 9px;
    background-color: #eee;
}

#privatdiv::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
	border-radius:20px;
}

#usersdiv {
	background-repeat: no-repeat; -moz-background-size: 100%; -webkit-background-size: 100%;
}

#usersdiv::-webkit-scrollbar {
    width: 9px;
	height: 9px;
    background-color: #eee;
}

#usersdiv::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
	border-radius:20px;
}

#privatdiv img {
    max-height: 100px;
}



#snow {
position: absolute;
width: 100%;
left: 0;
}




.standartStile {
	transition: 0.5s ease;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.standartStile:hover {
	transition: 0.5s ease;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.neboStile:hover {
	transition: 0.5s ease;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.summerStile:hover {
	transition: 0.5s ease;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.blueStile {
	box-shadow: none;
}

.blueStile:hover {
	transition: 0.5s ease;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.florStile {
	box-shadow: none;
}

.florStile:hover {
	transition: 0.5s ease;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.blackStile {
	box-shadow: none;
}

.blackStile:hover {
	transition: 0.5s ease;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.pinkStile {
	box-shadow: none;
}

.pinkStile:hover {
	transition: 0.5s ease;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.dropdown-main { 
font-family: Verdana;
font-size: 12px;
}


.checkbox + label {
    position: relative;
    padding: 0 0 0 31px;
    cursor: pointer;
}

.checkbox + label:before {
    content: '';
    position: absolute;
    top: -2px;
    left: 0;
    width: 30px;
    height: 20px;
    border-radius: 13px;
    background: #CDD1DA;
    box-shadow: inset 0 2px 3px rgb(0 0 0 / 20%);
    transition: .2s;
	}
	
	.checkbox + label:after {
    content: '';
    position: absolute;
    top: 0;
    left: 3px;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
    transition: .2s;
	}
	
	.checkbox:checked + label:after {
    left: 13px;
}
	



.profile__navi {
	justify-content: flex-end;
    display: flex;
    align-items: center;
	margin-right:10px;
	height: 26px;
}

.navi__link {
	display: flex;
    align-items: center;
	height: 20px;
	padding-left: 10px;
	height: 26px;
	transition: background-color 0.7s ease;
}

.navi__link:hover {
	background-color: #ffffff1a;
	transition: background-color 0.7s ease;
}



.profile__photo{
	text-align: center;
	margin: 30px;
	width: 40%;
}

.photo__img {
	color: rgb(255 255 255 / 6%);
}

.photo__img:hover {
	color: white;
}

.nagrads__wrap {
text-align: center;
}

#show__nagrads {
	font-family:kurale;
	font-size:15px; 
	text-align:center;
}

.profile__content {
	margin: 30px 0 30px 0;
	font-family:kurale;
	font-size:15px; 
	width: 50%;
}

.stol {
	width: 140px;
	height: 40px;
	margin-top: 10px;
	background: url(https://soulty.ru/img/stol_hover.png);
	transition: background 0.5s ease;
}

.stol:hover {
	cursor: pointer;
	width: 140px;
	height: 40px;
	margin-top: 10px;
	background: url(https://soulty.ru/img/stol.png);
	transition: background 0.5s ease;
}

.tooltip {
 position:absolute;
 z-index:999;
 left:-9999px;
 background:white;
 padding:5px;
 border:1px solid #fff;
 border-radius: 3px;
 box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.tooltip p{
 margin:0;
 background: #fff;
 padding:2px 7px;
}

div > .delete {
color: #CCCCCC;
cursor: pointer;
display: block;
float: right;
font: 14px Verdana;
height: 6px;
margin: -3px 5px;
text-decoration: none;
visibility: hidden;
}
div > .delete span {
color: #AAAAAA;
font: bold 14px "Arial Black";
}
div > .delete:hover {
color: #666666;
font: 14px Verdana;
text-decoration: none;
}
div > .delete:hover span {
color: #666666;
font: bold 14px "Arial Black";
text-decoration: none;
}
div:hover > .delete {
display: block;
visibility: visible;
}

.listNick img {
	border-radius: 5px;
}

.clan-body td {
	background-color: #ffffff;
border: none;
padding: 10px;
}

.clan-body {
	background:url(https://soulty.ru/img/bg_chat.jpg) no-repeat fixed center top;   -moz-background-size: 100%; -webkit-background-size: 100%; -o-background-size: 100%;
}

.clan-body table {
	border: none;
}

.in_chat {
	color:#005db5;
}

.error-msg {
color: #ab2828;
    border-radius: 5px;
    width: 200px;
}

.link-6 {
  color: maroon;
  text-decoration: none;
  display: inline-block;
  transition: transform 0.3s ease;
}


.link-6:hover {
transform: scale(0.97); 
}



