@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.info-body{
background: url(https://i.postimg.cc/fbzQXRSk/51fcbd2c4b5611f09cacba22276cb0e7-1.jpg);
background-attachment:fixed;
background-size: cover;
background-position: 0% 0%;
}
td {color: #0d5e5e;background-color: rgba(173, 240, 240, 0.5);font: 11px Lobster; padding:4px; border-collapse:collapse; border: 0px #0f7a7a solid; border-radius: 25px;}
table {border: 0px #0f7a7a solid;border-collapse:collapse; border-radius: 25px; box-shadow: 2px 2px 3px 5px #0f7a7a;}
p {
color: #0d5e5e;
font-family: 'Lobster';
font-size: 25pt;
}