body {
	padding: 0;
	margin: 0;
	background: url(body.jpg) left 380px;
	text-align: center;
	font: 12px Arial;
	color: #4a4b4d;
}

body h1, h2, h3, h4 {
	padding: 0;
	margin: 0;
	font-weight: normal;
	font-size: 12px;
}

.head-block {
	background: url(head.jpg) center top no-repeat;
}

	.head2 {
		background: url(head2.png) left bottom repeat-x;
	}
	
.main-center-block {
	width: 980px;
	text-align: left;
	margin: 0 auto 0 auto;
}

		.top {
			height: 371px;
			background: url(top.png) left bottom no-repeat;
			
		}
		
			.banner2 {
				position: absolute;
				margin: 30px 0 0 0;
			}
			
				.banner2 img {
					border: 0;
				}
		
			.banner {
				background: url(banner.png) left top no-repeat;
				position: absolute;
				width: 511px;
				height: 164px;
				margin: 0 0 0 470px;
				top: 10px;
			}
			
				.b-b-b-b {
					border: 1px #547f16 solid;
					float: left;
					
				}
				
					.b-b-b-b img {border: 0;}
					
					.rek-link {
						clear: both;
						font-size: 11px;
					}
					
						.rek-link a {
							color: #000;
							text-decoration: none;
						}
						
							.rek-link a:hover {
								text-decoration: underline;
							}
							
			.logo {
				position: absolute;
				display: block;
				position: absolute;
				width: 318px;
				height: 109px;
				background: url(logo.png);
				margin: 145px 0 0 0;
			}
			
			.rss {
				display: block;
				width: 60px;
				height: 60px;
				position: absolute;
				margin: 145px 0 0 497px;
			}
		
.center {
	background: url(center.jpg);
}

	.main-table {
		clear: both;
		width: 100%;
		
	}
	
		.td-for-content {
			
		}
			.top-menu {
				clear: both;
				font-size: 11px;
				padding: 0 0 0 15px;
			}
			
				.top-menu a {
					float: left;
					color: #1b2f00;
					text-decoration: none;
					display: block;
					padding: 4px 6px 4px 6px;
					border: 1px #b7d273 solid;
				}
				
					.top-menu a:hover {
						background: #72a12f;
						border-right: 1px #41650d solid;
						border-bottom: 1px #41650d solid;
						color: #fff;
					
					}
				
				.top-menu span {
					float: left;
					padding: 4px 0 4px 0;
					border: 1px #b7d273 solid;
				}
		
		.td-for-blocks {
			width: 276px;
			padding: 0 0 100px 0;
		}
		
			.right-block {
				padding: 0 0 20px 0;
			}
			
				.right-block-title {
					background: url(right-block-title.jpg) left top no-repeat;
					height: 43px;
					color: #fff;
					font-size: 18px;
					line-height: 45px;
					padding: 0 0 0 15px;
					text-shadow: 1px 1px 0px #674313;
				}
				
				.right-block-content {
					padding: 10px;
				}
				
					.right-block-content a {
						color: #6b4719;
					}
					
						.right-block-content a:hover {
							color: #000;
						}
						
					.friends-link {
						
					}
					
						.friends-link a {
							float: left;
							clear: both;
							background: #67930c;
							color: #fff;
							text-shadow: 1px 1px 0px #366621;
							padding: 5px 15px 5px 5px;
							margin: 0 0 2px 0;
						}
						
							.friends-link a:hover {
								color: #fff;
								text-decoration: none;
								background: #405c07;
							}
				
					.right-nav {
						display: block;
						padding: 5px 0 5px 0;
						background: url(right-nav.jpg) left bottom repeat-x;
						color: #1c1d1f;
						text-decoration: none;
						margin: 0 30px 0 0;
					}
					
						.right-nav span {
							float: left;
							padding: 3px 6px 3px 6px;
							
						}
						
							.right-nav:hover span {
								color: #fff;
								background: #67930c;
								color: #fff;
								text-shadow: 1px 1px 0px #366621;
							}
						
						.right-nav i {
							clear: both;
							display: block;
						}


.footer {
	height: 201px;
	background: url(footer.jpg) center top no-repeat;
	font-size: 11px;
	color: #000;
	position: relative;
}

	.tree {
		position: absolute;
		width: 128px;
		height: 128px;
		background: url(tree.png);
		right: 0px;
		bottom: 50px;
	}
		
	.copy {
		position: absolute;
		background: url(copy.png) left top no-repeat;
		width: 150px;
		height: 205px;
		left: 20px;
		bottom: 90px;
	}
	
		.test-templates {
			position: absolute;
			width: 100px;
			height: 90px;
			margin: 10px 0 0 25px;
		}
	
	.copy-text {
		padding: 80px 0 0 100px;
		color: #fff;
	}

/* ����-����� */
.login-block {
	position: absolute;
	margin: 180px 0 0 570px;
	font-size: 11px;
	width: 270px;
	color: #fff;
}

	.login-block  a {
		color: #b5c49d;
	}
	
		.login-block  a:hover {
			color: #fff;
		}
		
	.left-login {
		float: left;
		height: 42px;
	}
	
	.login-input-text {
		border: 0;
		width: 100px;
		margin: 5px 5px 0 0;
		color: #fff;
		font-size: 11px;
		border-right: 1px #355f2f solid;
		border-bottom: 1px #355f2f solid;
		padding: 3px;
		background: #97cc26 !important;
		
	}
	
	
	.enter {
		position: absolute;
		margin: 5px 0 0 0px;
	}
	
	.lost-input-text {
		border: 1px #9e9e9e dotted;
		width: 200px;
		padding: 5px;
		color: #644217;
	}
			
.s-block-content input {
	background: #fff url(form-text.gif) left top repeat-x;
	margin: 5px 20px 0 0;
	color: #bda8a8;
	border: 1px #d0d0d0 solid;
}

.s-block-content a {
	color: #000;
}

/* ==================== �������� */
.calend {

}

.weekday-active-v {
	color: #535353;
}
.day-active-v {
	color: #535353;
	font-weight: bold;
}
.calendar {
color: #535353;
font-size: 10px;
text-align: center;
}
	
	.calendar a {
		text-decoration: underline;
	 }
.calendar td, th {
	 text-decoration: none;
	 padding: 3px;
}
.weekday {
	color: #535353;
	font-weight: bold;
	
}
.weekday-active {
	color: #000;
	font-weight: bold;
	
}
.day-active {
	color: #535353;
}
.monthlink {
	color: #535353;
	text-decoration: none;
}
.day-current {
	background:#d8d878;
	border:1px dotted #000;
	color: #000;
}

	.day-current a {
		color: #000;
	}

/* ==================== ������ ����� */
.tags-block {
	color: #535353;
}

	.tags-block a {
		background: #d8d878;
	}

.clouds_xsmall {
	font-size: 12;
	color: #535353 !important;
}
.clouds_small {
	font-size: 15;
	color: #535353 !important;
}
.clouds_medium {
	font-size: 20;
	color: #535353 !important;
}
.clouds_large {
	font-size: 25;
	color: #ff7a52 !important;
}
.clouds_xlarge {
	font-size: 30px;
	color: #ff7a52!important;
}

/* ����� */
.vote-buttom {
	width: 87px;
	padding: 5px;
	color: #fff;
	border: 0;
	background: #9c802b;
	margin: 5px;
}

/* ��� �������� */
.top-newss {
	color: #ff7a52;
}

	.top-newss a {
		color: #ff7a52;
		text-decoration: none;
	} 
	
		.top-newss a:hover {
			text-decoration: underline;
		}

.fix1 {
	padding-right: 5px;
}
	
/* ���� */
.arhivv {
	text-align: center;
}

	.arhivv a {
		color: #1f1f1f;
	}

/* ==================== ������� ����� */

.rating {
	color: #757575;
	font-size: 11px;		/* ! */
	font-family: tahoma;	/* ! */
	width: 85px;
	height: 16px;
}
.unit-rating {
	list-style: none;
	margin: 0px;
	padding: 0px;
	width: 85px;
	height: 16px;
	position: relative;
	background-image: url(../dleimages/rating.gif);
	background-position: top left;
	background-repeat: repeat-x;
}
.unit-rating li {
	text-indent: -90000px;
	padding: 0px;
	margin: 0px;
	float: left;
}
.unit-rating li a {
	display: block;
	width: 17px;
	height: 16px;
	text-decoration: none;
	text-indent: -9000px;
	z-index: 17;
	position: absolute;
	padding: 0px;
}
.unit-rating li a:hover {
	background-image: url(../dleimages/rating.gif);
	background-position: left center;
	z-index: 2;
	left: 0px;
}
.unit-rating a.r1-unit { left: 0px; }
.unit-rating a.r1-unit:hover { width: 17px; }
.unit-rating a.r2-unit { left: 17px; }
.unit-rating a.r2-unit:hover { width: 34px; }
.unit-rating a.r3-unit { left: 34px; }
.unit-rating a.r3-unit:hover { width: 51px; }
.unit-rating a.r4-unit { left: 51px; }	
.unit-rating a.r4-unit:hover { width: 68px; }
.unit-rating a.r5-unit { left: 68px; }
.unit-rating a.r5-unit:hover { width: 85px; }
.unit-rating li.current-rating {
	background-image: url(../dleimages/rating.gif);
	background-position: left bottom;
	position: absolute;
	height: 16px;
	display: block;
	text-indent: -9000px;
	z-index: 1;
}

/* ==================== BB ��� */
 
.bbcodes {
	background-color: #ffffff;
	border: 1px solid #e0e0e0;
	color: #ffffff;
	font-size: 11px;		/* ! */
	font-family: tahoma;	/* ! */
	/*  width: 120px;  */
	height: 20px;
	background-image: url(dlet_bttn_bbcodes.gif);
	background-repeat: repeat-x;
	font-weight: bold;
}

/* ����� bbcodes_poll ��������� � poll.tpl, vote.tpl, addnews.tpl */

.bbcodes_poll {
	background-color: #ffffff;
	border: 1px solid #e0e0e0;
	color: #ffffff;
	font-size: 11px;		/* ! */
	font-family: tahoma;	/* ! */
	width: 120px;
	height: 20px;
	background-image: url(dlet_bttn_bbcodes.gif);
	background-repeat: repeat-x;
	font-weight: bold;
}

.editor_button {
	float: left;
	cursor: pointer;
	padding-left: 2px;
	padding-right: 2px;
}
.editor_buttoncl {
	float: left;
	cursor: pointer;
	padding-left: 1px;
	padding-right: 1px;
	border-left: 1px solid #bbbbbb;
	border-right: 1px solid #bbbbbb;
}
.editbclose {
	float: right;
	cursor: pointer;
}
.editor_button select {
	font-family: tahoma;
	font-size: 11px;
}
.editor_button img {margin: 0; padding: 0;}
.editbclose img {margin: 0; padding: 0;}
.editor_button_brk img {margin: 0; padding: 0;}


/* ==================== ������� ��� */

#dropmenudiv {
	border: 1px solid #ffffff;
	border-bottom-width: 0;
	font: normal 10px Verdana;
	background-color: #6497ca;
	line-height: 20px;
	margin: 2px;
	opacity: 0.92;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95) progid:DXImageTransform.Microsoft.Shadow(color=#cacaca, direction=135, strength=3)";
	filter: alpha(opacity=95, enabled=1) progid:DXImageTransform.Microsoft.Shadow(color=#cacaca, direction=135, strength=3);
}

#dropmenudiv a {
	display: block;
	text-indent: 3px;
	text-decoration:none;
	color: #ffffff;
	background:#6497ca;
	border: 1px solid #ffffff;
	padding: 1px 0;
	margin: 1px;
	font-weight: bold;
}

#dropmenudiv a:hover {
	background-color:#fdd08b;
	color:#000000;
}

/* ==================== ����������� � �������� ��� PM */

#newpm {
	position: absolute;
	width: 400px;
	padding: 4px;
	background-color: #fdfdfd;
	border: 1px solid #bbbbbb;
	font-family: verdana;
	line-height: 135%;
}
#newpmheader {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	height: 20px;
	color: #636363;
	font-weight: bold;
	background-color: #b2c7f1;
	font-family: verdana;
	cursor: move;
}
#newpm a {
	background: transparent;
	color: #4b73d4;
	text-decoration: none;
}
#newpm a:hover {
	background: transparent;
	color: #4b73d4;
	text-decoration: underline;
}

/* ==================== ����� �� ��������� �������������� ����� */

.attachment {
	color: #f37c64;
}

/* ==================== ����� ����������� �������� ����������� �� ���� �� ��������� ����� */
.highslide-wrapper, .highslide-outline {
	background: #FFFFFF;
	z-index: 100000;
}
.highslide-image {
	border: 2px solid #FFFFFF;
	z-index: 100000;
}
.highslide-active-anchor {
   visibility: hidden;
   z-index: 100000;
} 
.highslide-active-anchor img {
	visibility: hidden;
	z-index: 100000;
}
.highslide-dimming {
	background: black;
	z-index: 100000;
}
.highslide-html {
	background-color: white;
	z-index: 100000;
}
.highslide-html-content {
	display: none;
	z-index: 100000;
}
.highslide-loading {
    display: block;
	color: white;
	font-size: 9px;
	font-weight: bold;
    text-decoration: none;
	padding: 3px;
	border: 1px solid white;
    background-color: black;
	z-index: 100000;
}
a.highslide-full-expand {
	background: url(../dleimages/fullexpand.gif) no-repeat;
	display: block;
	margin: 0 10px 10px 0;
	width: 34px;
	height: 34px;
	z-index: 100000;
}
.highslide-footer {
	height: 11px;
	z-index: 100000;
}
.highslide-footer .highslide-resize {
	float: right;
	height: 12px;
	width: 11px;
	background: url(../dleimages/resize.gif);
	z-index: 100000;
}
.highslide-resize {
    cursor: nw-resize;
}
.highslide-display-block {
    display: block;
}
.highslide-display-none {
    display: none;
}

.highslide-caption {
	display: none;
	padding: 5px;
	background: white;
}

.highslide-controls {
    width: 195px;
    height: 40px;
    background: url(../../../engine/classes/highslide/graphics/controlbar-black-border.gif) 0 -90px no-repeat;
    margin-right: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.highslide-controls ul {
	position: relative;
	left: 15px;
    height: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
    background: url(../../../engine/classes/highslide/graphics/controlbar-black-border.gif) right -90px no-repeat;
}
.highslide-controls li {
    float: left;
    padding: 5px 0;
}
.highslide-controls a {
    background: url(../../../engine/classes/highslide/graphics/controlbar-black-border.gif);
    display: block;
    float: left;
    height: 30px;
    width: 30px;
    outline: none;
}
.highslide-controls a.disabled {
    cursor: default;
}
.highslide-controls a span {
    /* hide the text for these graphic buttons */
    display: none;
}
 
/* The CSS sprites for the controlbar */
.highslide-controls .highslide-previous a {
    background-position: 0 0;
}
.highslide-controls .highslide-previous a:hover {
    background-position: 0 -30px;
}
.highslide-controls .highslide-previous a.disabled {
    background-position: 0 -60px !important;
}
.highslide-controls .highslide-play a {
    background-position: -30px 0;
}
.highslide-controls .highslide-play a:hover {
    background-position: -30px -30px;
}
.highslide-controls .highslide-play a.disabled {
	background-position: -30px -60px !important;
}
.highslide-controls .highslide-pause a {
    background-position: -60px 0;
}
.highslide-controls .highslide-pause a:hover {
    background-position: -60px -30px;
}
.highslide-controls .highslide-next a {
    background-position: -90px 0;
}
.highslide-controls .highslide-next a:hover {
    background-position: -90px -30px;
}
.highslide-controls .highslide-next a.disabled {
    background-position: -90px -60px !important;
}
.highslide-controls .highslide-move a {
    background-position: -120px 0;
}
.highslide-controls .highslide-move a:hover {
    background-position: -120px -30px;
}
.highslide-controls .highslide-full-expand a {
    background-position: -150px 0;
}
.highslide-controls .highslide-full-expand a:hover {
    background-position: -150px -30px;
}
.highslide-controls .highslide-full-expand a.disabled {
    background-position: -150px -60px !important;
}
.highslide-controls .highslide-close a {
    background-position: -180px 0;
}
.highslide-controls .highslide-close a:hover {
    background-position: -180px -30px;
}

.d-block {
	border-bottom: 1px #cccccc solid;
	padding: 0 0 5px 0;
}

	.d-block-date {
		color: #8c1e1e;
		padding: 0 0 5px 0;
	}
	
	.d-block-title {
		color: #7a7a7a;
	}
	
		.d-block-title a {
			color: #7a7a7a;
			text-decoration: none;
		}
		
			.d-block-title a:hover {
				text-decoration: underline;
			}
	

		
/* ������� */
.main-news {
	background: url(main-news.jpg) left bottom repeat-x;
	padding: 0 0 30px 0;
}

	.main-news-top {
		background: #eef3dc url(main-news-top.jpg) left top repeat-x;
		position: relative;
		border-left: 1px #98b652 solid;
		margin: 0 0 4px 0;
		margin: 0 0 4px 0;
	}
	
		.main-news-right {
			background: url(main-news-right.jpg) right top repeat-y;
		}
		
			.main-news-bottom {
				background: url(main-news-bottom.jpg) left bottom repeat-x;
				padding: 10px;
			}
			
				.main-news-right-top {
					position: absolute;
					width: 7px;
					height: 5px;
					background: url(main-news-right-top.jpg);
					position: absolute;
					right: 0;
					top: 0;
				}
				
				.main-news-right-bottom {
					position: absolute;
					width: 7px;
					height: 7px;
					background: url(main-news-right-bottom.jpg);
					position: absolute;
					right: 0;
					bottom: 0;
				}
				
				.main-news-title {
					font-size: 18px;
					color: #5a8208;
					padding: 0 0 10px 0;
				}
				
					.main-news-title a {
						color: #5a8208;
					}
					
						.main-news-title a:hover {
							color: #253406;
						}
						
				.main-news-content {
					padding: 0 0 0 0px;
					color: #4b4c4e;
					font-size: 11px;
					
				}
				
					.main-news-content a {
						color: #000;
					}
					
						.main-news-content a:hover {
							color: #5a8208;
						}
				
					.main-news-content img {
						border: 2px #fff solid;
						margin: 0 10px 10px 0;
					}
					
	.main-news-other {
		background: #ecfccd;
		padding: 4px;
		color: #14181b;
		font-size: 11px;
		margin: 0 0 0 3px;
		position: relative;
	}
	
		.main-news-other a {
			color: #000;
		}
		
		.main-news-more  {
			position: absolute;		
			width: 129px;
			height: 32px;
			right: 0;
			top: 0;
		}
		
			.main-news-more a {
				color: #fff !important;
				font-weight: bold;
				text-decoration: none;
				font-size: 12px;
				background: url(main-news-more.jpg);
				width: 129px;
				height: 32px;
				display: block;
			}
			
				.main-news-more a:hover {
					background: url(main-news-more.jpg) left -32px;
					color: #fffbcd !important;;
				}
			
				.main-news-more a span {
					padding: 5px 0 0 20px;
					display: block;
				}


.title-block {
	font-size: 18px;
	color: #000;
	padding: 5px 5px 15px 0;
	font-family: Georgia;
}

	.title-block a {
		color: #000;
	}
	
	.title-block span {
		background: url(title-block.gif) right center no-repeat;
		padding: 0 15px 0 0;
	}
	
.right-news {
	padding: 5px;
	margin: 0 0 20px 0;
	font-size: 11px;
}

	.right-news-title {
		color: #d15400;
		font-family: Georgia;
		padding: 0 0 7px 0;
		font-style: italic;
	}
	
		.right-news-title a {
			color: #d15400;
		}
		
			.right-news-title a:hover {
				color: #000;
			}
			
	.right-news-date {
		color: #583911;
		padding: 0 0 7px 0;
	}
	
	.right-news-content {
		color: #815c2d;
	}
	
		.right-newspcontent a {
			color: #d15400;
		}
		
		.right-news-content img {
			display: none;
		}

	
.short-block {

}

	.short-block a {
		color: #000;
	}
	
	
	.shot-text {		
		color: #6e6e6e;
		text-align: justify;
		padding: 15px;
	}
	
		.shot-text img {
			border: 3px #c5c7c2 solid;
			margin: 0 5px 5px 5px;
		}
		
		.float-img {
			float: left;
			width: 200px;
			margin: 0 10px 10px 0 !important;
		}
		
		.shot-text2 {
			padding: 10px;
		}
		
			.shot-text2 a, .shot-text a {
				color: #000;
				font-weight: bold;
			}
		
		.shot-text2 img {
			margin: 0 10px 10px 0;
			border: 0;
			max-width: 300px;
		}
		
		.shot-text input {
			margin: 5px 20px 0 0;
			background: #343434;
			color: #fff;
			font-size: 9px;
		}
		.shot-text2 input {
			margin: 5px 20px 0 0;
			background: #343434;
			color: #fff;
			font-size: 9px;
		}
		
		.mass_comments_action input {
			margin: 5px 20px 0 0;
			background: #66920b;
			color: #fff;
			font-size: 9px;
			border: 0;
		}
	
		.shot-text .editor_button img {
			padding: 0 !important;
			border: 0 !important;
			margin: 0;
		}
		.shot-text2 .editor_button img {
			padding: 0 !important;
			border: 0 !important;
			margin: 0;
		}
		
		.editor_button img {
			padding: 0 !important;
			border: 0 !important;
			margin: 0 !important;
		}
		
		.shot-text .editbclose img {
			padding: 0;
			border: 0;
			margin: 0;
		}
		.shot-text2 .editbclose img {
			padding: 0;
			border: 0;
			margin: 0;
		}
		
		.editor_button_brk img {
			padding: 0 !important;
			margin: 0 !important;
			border: 0 !important;
		}
		


/* ����� ������ */


	.title-block a {
		
		
	}
	
		.title-block a:hover {
			
		}

.sh-tags {
	border-top: 1px #ccc dotted;
	border-bottom: 1px #ccc dotted;
	padding: 5px 0 5px 0;
	clear: both;
}

	.sh-tags a {
		color: #000;
	}

.newsto {
	margin: 10px 0 0 0;
	padding: 20px;
	padding-bottom: 20px;
	color: #252525;
	font-weight: bold;
	text-align: left;
}

	.newsto span {
		color: #66920b;
		font-size: 14px;
		display: block;
		padding-bottom: 5px;
	}

	.newsto a {
		color: #646464;
		font-weight: normal;
		line-height: 20px;
		text-decoration: none;
		border-bottom: 1px #7791af dotted;
	}
	
		.newsto a:hover {
			color: #000;
		}
		
	.newsto li {
		list-style-type: none;
		background: url(arrow.jpg) left 5px no-repeat;
		padding-bottom: 5px;
		padding-left: 20px;
	}
	
.registr-please {
	color: #7791af;
	padding: 10px;
	margin: 5px;
}

/* ��� ���������� */



/* -------- */
.commentS-block {
	background: #a2bf5e;
	padding: 5px;
	
}
	
	.commentS-title {
		color: #818181;
		font-size: 10px;
		padding: 0 0 5px 0;
		border-bottom: 1px #ccc solid;
	}
		
		.commentS-title a {
			color: #66920b !important;
			
		}
		
	.comment-foto {
		width: 50px;
		float: right;
		margin: 0 -7px 0 0;
	}

	
	.commentS-data { /* ������ �� ����������� */
		width: 100%;
	
	}
	
		.commentS-data td {
			padding: 5px;
			padding-left: 10px;
			color: #000;
		}
	
		.commentS-data a {
			color: #000;
			font-weight: bold;
		}
		
		.commentS-td2 {
			background: #edf4dc;
		}
		
		.commentS-td2 input {
			height: 25px;
			margin: 5px 20px 5px 0;
			background: #343434;
			color: #fff;
			border: 1px #d0d0d0 solid;
		}
		
	.commentS-more {
	
		padding: 5px;
		margin-left: 30px;
		color: #818181;
		margin-right: 20px;
	} 
	
		.commentS-more a {
			color: #3b3b3b;
		}
		
.quote {
	background: #feffd0;
	padding: 5px;
	border: 1px #707070 dotted;
	color: #707070;
}

	.quote a {
		color: #499eff;
	}
	

.com-color1 .commentS-title {
	color: #000;
}
		
/* ���������� ���������� */
.add-coment-buttom {
	width: 100px;
	height: 30px;
	margin-right: 3px;
	color: #fff;
	border: 1px #2b2b2b solid;
}

.com-title {
	text-align: left;
}
/* 
*****************************
���� ���� */
.user-info-table {
	width: 90%; 
	margin: 0 00px 0 20px;

}

	.user-info-table td {
		padding: 5px 5px 20px 5px;
		text-align: left;
	}
	
		.user-info-table td small {
			font-size: 14px;
			color: #af86522;
			font-weight: bold;
		}
		
		.user-info-table td a {
			color: #ff863d;
		}
		
		.user-info-table td i {
			color: #bfbfbf;
		}
		
		.buttom-add-news {
			margin: 5px 20px 5px 0;
			background: #777777;
			color: #fff;
			border: 1px #2b2b2b solid;
		}
		
		.user-info-table input {
			background: url(form-text.gif);
			color: #2e2e2e;
			border: 1px #d0d0d0 solid;
		}

		
/* ���� */
.error {
	padding: 10px;
	padding-bottom: 150px;
	background: url(error.png) center bottom no-repeat;
	text-align: center;
}

	.error p {
		font-size: 15px;
		font-weight: bold;
	}
	
	.error a {
		color: #7cad37;
	}

/* ���������� */
.lost-pass {
	width: 400px;
	background: #fef2e4; 
	margin-bottom: 20px;
	border-top: 5px #9d7038 solid;
	margin-top: 10px;
}


	.lost-pass td {
		background: #fef2e4; 
		padding: 5px;
		color: #4b2e12;
		text-align: left;
	}
		
		.lost-pass td a {
			color: #c89539;
		}
		
.ststs-title {
	padding: 5px 5px 5px 20px;
	color: #60360c;
	text-align: left;
	font-weight: bold;
}

/* ���������� ������ */	
.ststststs {
	text-align: left;
	margin: 0 30px 0 30px;
}

	.ststststs-t {
		height: 40px;
		line-height: 35px;
		color: #fffdcc;
		margin: 0 30px 0 10px;
	}
	
		.ststststs-t h1 {
			margin: 0;
			padding: 0 0 0 50px;
			font-size: 14px;
		}
	
	.ststststs-c {
		padding: 20px;
	}
		
		.ststststs-c img {
			padding: 0 10px 10px 0;
			background: url(shadow.gif) right bottom;
			border: 0;
			margin: 10px 10px 10px 0;
		}
		
		.ststststs-c input {
			margin: 5px 20px 0 0;
			background: url(form-text.gif);
			color: #2e2e2e;
			border: 1px #d0d0d0 solid;
		}
	
	.ststststs-s {
		padding: 5px;
	}
		.ststststs-s a {
			color: #60360c;
		}
	
/* ���������� ������� */
.add-news-title {
	padding: 5px 5px 0 50px;
	font-weight: bold;
	text-align: left;
	color: #2d7cff;
}

/* �� */
.imp {
	text-align: left;
	margin: 0 30px 0 30px;
}

	.imp input {
		margin: 5px 20px 0 0;
		background: url(form-text.gif);
		color: #2e2e2e;
		border: 1px #d0d0d0 solid;
	}
	
.pm-tititittile {
	padding: 10px 10px 10px 5px;
	font-weight: bold;
}

.new-PM {
	padding: 3px;
}
	
	.new-PM input {
		width: 250px;
		background: url(form-text.gif);
		color: #2e2e2e;
		border: 1px #d0d0d0 solid;
	}
	
	.new-PM span {
		width: 150px;
		margin-right: 20px;
		display: block;
	}
	
.pm-block {
	height: 30px;
	padding-left: 60px;
	line-height: 30px;
	font-weight: bold;
}

.pm-content {
	padding: 10px;
}

	.pm-content a {
		color: #666666;
		font-weight: bold;
	}

.pm-block-menu {
	height: 50px;
	margin-bottom: 20px;
	line-height: 50px;
	padding-left: 0px;
	font-size: 12px;
}

	.pm-block-menu a {
		color: #ff863d;
		font-weight: bold;
	}

.a-mess {
	border-top: 5px #fff solid;
	padding: 5px;
	color: #777777;
}	

	.a-mess a {
		color: #4a4a4a;
		font-weight: bold;
	}
	
.theme-mess {
	background: #c6c6c6;
	padding: 5px;
	border-top: 5px #fff solid;
	color: #666666;
	font-weight: bold;
}

/* �������� ������ � ����� ����� �� ������� */
.search-block {
	position: absolute;
	margin: 214px 0 0 332px;
}

	.profile-links a {
		float: left;
		padding: 5px;
		border-right: 1px #41650d solid;
		border-bottom: 1px #41650d solid;
	}
	
		.profile-links a:hover {
			background: #72a12f;
			border-right: 1px #41650d solid;
			border-bottom: 1px #41650d solid;
			color: #fff;
		}
	
	.form-text {
		border: 0;
		width: 120px;
		color: #fff;
		font-size: 10px;
		vertical-align: middle;
		background: url(png.png);
		margin: 0;
		position: absolute;
		left: 10px;
		top: 5px;
		padding: 1px;
	}
	
	.f-abs {
		position: absolute;
		
	}
	
	.form-search {
		position: absolute;
		margin: 5px 0 0 135px;
		
	}

.search-rez {
	text-align: left;
	margin: 0 30px 0 30px;

}

.search-title {
	padding: 10px;
	color: #fdffcd;
	font-weight: bold;
	border-left: 2px #ffddb5 solid;
	border-right: 2px #ffddb5 solid;
	margin: 10px;
	background: #262626;
}

.search-rez input {
	
		background: url(form-text.gif);
		color: #2e2e2e;
		border: 1px #d0d0d0 solid;
}	

/* ������� �� �������� */
.navigation {
	color:#fff7b6; 
	border:0px;
	font-size: 18px;
}

.navigation a:link,
.navigation a:visited,
.navigation a:hover,
.navigation a:active {
	color: #3a6b0f;
	padding:3px 6px;
	margin: 0 0 2px 2px;
}

.navigation a:hover {
	color: #fff;
	
}

.navigation span {
	text-decoration:none;
	
	padding:3px 6px;
	margin: 0 0 2px 2px;
}


.vote-pool {
	margin: 20px 0 0 100px;
	background: #dbf6ff;
	width: 400px;
	padding: 10px;
}

	.vote-pool img {
		border: 0;
		padding: 0;
	}

	.vote-pool h5 {
		color: red;
		font-size: 13px;
		margin: 0;
	}
	
	.vote-pool h6 {
		margin: 0;
		font-size: 12px;
	}
	
	.vote-pool input {
		margin: 5px 20px 0 0;
		background: url(form-text.gif);
		color: #2e2e2e;
		border: 1px #d0d0d0 solid;
	}
	
.statss {
	width: 100%;
}

	.statss  td {
		padding: 5px;
		font-size: 12px;
		color: #757575;
	}
	
	.statss a {
		color: #ff873e;
	}
	
.statss-title {
	font-size: 13px;
	font-weight: bold;
	color: #239aff;
	border-bottom: 1px #8e8e8e dotted;
	margin-bottom: 10px;
}


	
.form-input-stand {
	background: url(form-text.gif);
	color: #2e2e2e;
	border: 0;
}

.shot-title {
	color: #61a0ff;
	padding: 5px;
}

	.shot-title h1 {
		font-size: 18px;
		padding-left: 10px;
	}
	
		.shot-title h1 i {
			
		}
		
.img-top-link {
	padding: 0 !important;
	margin: 0 !important;
	border: 0 !important;
}

.fix-bb {
	margin-right: 2%; 
	background: url(../bbcodes/bg.gif); 
	height: 75px;
	margin-left: -10px;
	border: 1px solid #bbb;
	border-bottom: 0;
}

	.fix-bb div {
		border: 0 !important;
	}
	
@-moz-document url-prefix()
{
    
}

	
/* DLE 8.5 */

/* ��� ����������: � ����� ����� � ��� */
.wide-border {
	background: white;
}
.wide-border .highslide-image {
	border-width: 10px;
}
.wide-border .highslide-caption {
	padding: 0 10px 10px 10px;
}

/* ��� ����������: ����� ��� */
.borderless .highslide-image {
	border: none;
}
.borderless .highslide-caption {
	border-bottom: 1px solid white;
	border-top: 1px solid white;
	background: white;
}

/* ��� ����������: ����� ����� ��� ���� */
.less .highslide-image {
	border: 1px solid #000000;
}
.less .highslide-caption {
	border: 1px solid #000000;
	background: white;
}


#dle_emo {
	margin: -320px 0 0 -150px;
	z-index: 10000;
}

.dfvbfb {
	position: relative;
}

.dfvbfb #dle_emo {
	left: 210px !important;
	top: 27px !important;
	margin: 0 !important;
}

/* ==================== ������������� ����� �������� AJAX */
#loading-layer {
    display:none;
    font-family: Verdana;font-size: 11px;
    background:#000;padding:10px;
    text-align:center;
    border:1px solid #000;
    color: #FFF;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
/* ==================== �������������� ������ ����� */
.autocomplete-w1 { position:absolute; top:0px; left:0px; margin:8px 0 0 6px; /* IE6 fix: */ _background:none; _margin:0; }
.autocomplete { border:1px solid #999; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:hidden; }
.autocomplete .selected { background:#F0F0F0; }
.autocomplete div { font-size: 11px;font-family: verdana;padding:2px 5px; white-space:nowrap; }
.autocomplete strong { font-weight:normal; color:#3399FF; }

/* ==================== ������ ����� �� ����� */
#searchsuggestions { border-width:1px; border-color:#919191; border-style:solid; width:300px; background-color:#5c9ccc; font-size:10px; line-height:14px; }
#searchsuggestions a { padding:5px;display:block; background-color:#ffffff; clear:left; height:70px; text-decoration:none; }
#searchsuggestions a:hover { background-color:#fdd08b; color:#ffffff; }
#searchsuggestions a span.searchheading { background: #5c9ccc; display:block; font-weight:bold; padding:5px; color:#ffffff; }
#searchsuggestions a:hover span.searchheading { color:#ffffff; }
#searchsuggestions a span {color:#555555; }
#searchsuggestions a:hover span { color:#0000; }
#searchsuggestions span.seperator { float:right; padding-right:15px; margin-right:5px;}
#searchsuggestions span.seperator a { background-color:transparent; display:block; height:auto; color:#ffffff; }
#searchsuggestions span.notfound {  padding:5px;background-color:#ffffff; display:block; height:auto; color:#00000; }
/* ==================== ��������� � �������� ���� jQuery UI */
.ui-helper-clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.ui-helper-clearfix {
    display: inline-block;
}
* html .ui-helper-clearfix {
    height: 1%;
}
.ui-helper-clearfix {
    display: block;
}
.ui-icon {
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    text-indent: -99999px;
}
.ui-widget {
    font-family: Tahoma, Lucida Sans, Arial, sans-serif;
    font-size: 11px;
}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: tahoma, Arial, sans-serif;
    font-size: 11px;
}
.ui-widget-content {
    background: #fcfdfd 50% bottom repeat-x;
    border: 1px solid #a6c9e2;
    color: #222222;
}
.ui-widget-content a {
    color: #222222;
}
.ui-widget-header {
    background: #5c9ccc url(ui-bg_gloss-wave.png) 50% 50% repeat-x;
    border: 1px solid #4297d7;
    color: #ffffff;
    font-weight: bold;
}
.ui-widget-header a {
    color: #ffffff;
}
.ui-state-default, .ui-widget-content .ui-state-default {
    background: #dfeffc url(ui-bg_glass_85.png) 50% 50% repeat-x;
    border: 1px solid #c5dbec;
    color: #2e6e9e;
    font-weight: bold;
}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
    color: #2e6e9e;
    text-decoration: none;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus {
    background: #d0e5f5 url(ui-bg_glass_75.png) 50% 50% repeat-x;
    border: 1px solid #79b7e7;
    color: #1d5987;
    font-weight: bold;
}
.ui-state-hover a, .ui-state-hover a:hover {
    color: #1d5987;
    text-decoration: none;
}
.ui-state-active, .ui-widget-content .ui-state-active {
    background: #f5f8f9 50% 50% repeat-x;
    border: 1px solid #79b7e7;
    color: #e17009;
    font-weight: bold;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: #e17009;
    text-decoration: none;
}
.ui-widget :active {
    outline: none;
}
.ui-state-error {
    background: #fef1ec 50% 50% repeat-x;
    border: 1px solid #cd0a0a;
    color: #cd0a0a;
}
.ui-widget-header .ui-icon {
    background-image: url(ui-icons.png);
}
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {
    background-image: url(ui-icons_h.png);
}
.ui-icon-close {
    background-position: -80px -128px;
}
.ui-icon-closethick {
    background-position: -96px -128px;
}
.ui-button .ui-button-text {
    display: block;
    line-height: 1.4;
}
.ui-button-text-only .ui-button-text {
    padding: .4em .8em;
}
input.ui-button {
    padding: .4em 1em;
}
.ui-button-set {
    margin-right: 7px;
}
.ui-button-set .ui-button {
    margin-left: 0;
    margin-right: -.3em;
}
button.ui-button::-moz-focus-inner {
    border: 0;
    padding: 0;
}
.ui-dialog {
    overflow: hidden;
    padding: .2em;
    position: absolute;
    width: 300px;
}
.ui-dialog .ui-dialog-titlebar {
    padding: .5em 1em .3em;
    position: relative;
}
.ui-dialog .ui-dialog-title {
    float: left;
    margin: .1em 16px .2em 0;
}
.ui-dialog .ui-dialog-titlebar-close {
    height: 18px;
    margin: -10px 0 0 0;
    padding: 1px;
    position: absolute;
    right: .3em;
    top: 50%;
    width: 19px;
}
.ui-dialog .ui-dialog-titlebar-close span {
    display: block;
    margin: 1px;
}
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus {
    padding: 0;
}
.ui-dialog .ui-dialog-content {
    background: none;
    border: 0;
    overflow: hidden;
    padding: .5em 1em;
    position: relative;
    zoom: 1;
}
.ui-dialog .ui-dialog-buttonpane {
    background-image: none;
    border-width: 1px 0 0 0;
    margin: .5em 0 0 0;
    padding: .3em 1em .5em .4em;
    text-align: left;
}
.ui-dialog .ui-dialog-buttonpane button {
    cursor: pointer;
    float: right;
    line-height: 1.4em;
    margin: .5em .4em .5em 0;
    overflow: visible;
    padding: .2em .6em .3em .6em;
    width: auto;
}
.ui-dialog .ui-resizable-se {
    bottom: 3px;
    height: 14px;
    right: 3px;
    width: 14px;
}
.ui-draggable .ui-dialog-titlebar {
    cursor: move;
}